image_width: 1440
image_height: 1080
camera_name: narrow_stereo
camera_matrix:
  rows: 3
  cols: 3
  data: [1208.689636,  0.000000,  725.843704,
            0.     , 1208.015392,  554.940467,
            0.     ,    0.     ,    1.     ]
distortion_model: plumb_bob
distortion_coefficients:
  rows: 1
  cols: 5
  data: [-0.093905, 0.092881, -0.000962, -0.000308, 0.000000]
rectification_matrix:
  rows: 3
  cols: 3
  data: [1., 0., 0.,
         0., 1., 0.,
         0., 0., 1.]
projection_matrix:
  rows: 3
  cols: 4
  data: [1181.381836,    0.     ,  724.949499,    0.     ,
            0.     , 1188.371338,  554.047717,    0.     ,
            0.     ,    0.     ,    1.     ,    0.     ]
