/hik_camera_2:
  ros__parameters:
    camera_name: hkcam #同时也是Image消息名
    robot_name: rm_robot
    sn: "00J88247791"
    enable_imshow: false
    exposure_time: 6000.0
    gain: 17.0
    digital_shift: 5.0
    offset_x: -1
    offset_y: -1
    out_post_top_offset_y: 440
    grab_height: 1080
    grab_width: 1440
    en_exposure_time: 2500.0
    en_gain: 5.0
    en_offset_x: -1
    en_offset_y: -1
    en_grab_height: 1024
    en_grab_width: 1024
    frame_rate: 150.0